---
import { Picture } from "@astrojs/image/components";
const {} = Astro.props;
---

<section>
  
  <div class="max-w-8xl mx-auto px-4 sm:px-6">
     
    <div class="py-12 md:py-20"></div>
      <div class="text-center pb-12 md:pb-16">
        <div
    class="relative inset-0 py-16 bg-blue-50 dark:bg-slate-800 pointer-events-none mb-32"
    aria-hidden="true"
  >
        <h1
          class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4"
        >
          You don't need a 
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500"
            >key
          </span> if you can change the
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500"
            >locks
          </span>
        </h1>
        <div class="max-w-3xl mx-auto">
          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            In Chicago, there are over 2,000 vacant units owned by the Chicago Housing Authority.
          </p>
          <!-- <div class="max-w-xs flex justify-center">
            <div>
              <a
                class="btn text-white bg-blue-600 hover:bg-blue-700 mb-4 sm:mb-0"
                href="#"
                >Get started
              </a>
            </div>
            <div>
              <a
                class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-800 dark:hover:bg-gray-700 ml-4"
                href="#"
                >Learn more
              </a>
            </div>
          </div> -->
        </div>
      </div>
      <div>
        <div class="relative flex justify-center mb-8">
          <div class="flex flex-col justify-center">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
