---
import Layout from "~/layouts/Layout.astro";

// import BasicCTA from "~/components/astro/ctas/BasicCTA.astro";
// import BasicFeatures from "~/components/astro/features/BasicFeatures.astro";
// import StepsFeatures from "~/components/astro/features/StepsFeatures.astro";
// import HeroWithImage from "~/components/astro/hero/HeroWithImage.astro";
---

<Layout
  title="Events"
  description="Humboldt Park Housing Project"
>
  <main class="mt-20">
    <!-- <HeroWithImage />
    <BasicFeatures />
    <StepsFeatures />
    <BasicCTA /> -->
    <section class="relative">
        <div class="max-w-6xl mx-auto px-4 sm:px-6">
          <div class="py-12 md:py-20">
            <div class="max-w-6xl mx-auto text-center pb-12">
              <h2
                class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
              >
               Upcoming Events!
              </h2>
              <p class="text-xl text-gray-600 dark:text-slate-400">
                Bbq's, teach ins, movie screenings, protests, and more. Come hang out!
              </p>
            </div>
          </div>
        </div>
      </section>
      <section><iframe class="airtable-embed" src="https://airtable.com/embed/shrzzwJYYrkGjF3no?backgroundColor=blue&viewControls=on" frameborder="0" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe></section>
  </main>
</Layout>

