---
import Layout from "~/layouts/Layout.astro";

// import BasicCTA from "~/components/astro/ctas/BasicCTA.astro";
// import BasicFeatures from "~/components/astro/features/BasicFeatures.astro";
// import StepsFeatures from "~/components/astro/features/StepsFeatures.astro";
// import HeroWithImage from "~/components/astro/hero/HeroWithImage.astro";
---

<Layout title="Press" description="Humboldt Park Housing Project">
  <main class="mt-20">
    <section class="relative">
      <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20">
          <div class="max-w-6xl mx-auto text-center pb-12">
            <h2
              class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
            >
              In the Press
            </h2>
            <p class="text-xl text-gray-600 dark:text-slate-400">
              We are a group of people who believe that public housing should be
              controlled by the public.
            </p>
          </div>
        </div>
      </div>
    </section>

    <div class="max-w-6xl mx-auto px-2 sm:px-6">
      <div class="py-1 md:py-2 border-b lg:border-b-0">
        <div class="py-2 sm:py-3 lg:py-4">
          <div class="w-full flex flex-wrap -mx-8">
            <div class="w-full lg:w-1/2 px-8">
              <div class="mb-12 lg:mb-0 pb-2 lg:pb-0 ">
                <h2
                  class="mb-4 center text-3xl lg:text-4xl font-bold font-heading"
                >
                  <a
                    href="https://itsgoingdown.org/you-dont-need-a-key-if-you-can-change-the-locks/"
                    class="text-2xl font-semibold"
                    >You Don't Need A Key If You Can Change The Locks
                  </a>
                </h2>
                <p class="mb-2 text-xl text-gray-600 dark:text-gray-400">
                  It's Going Down
                </p>
                <p class="mb-8 text-lg dark:text-gray-100">August 11, 2022</p>
              </div>
            </div>
            <div class="w-full lg:w-1/2 px-8">
              <a
                href="https://itsgoingdown.org/you-dont-need-a-key-if-you-can-change-the-locks/"
              >
                <img src="./src/assets/images/igd.jpg" alt="Protest" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-6xl mx-auto px-2 sm:px-6">
      <div class="py-1 md:py-2 border-b lg:border-b-0">
        <div class="py-2 sm:py-3 lg:py-4">
          <div class="w-full flex flex-wrap -mx-8">
            <div class="w-full lg:w-1/2 px-8">
              <div class="mb-12 lg:mb-0 pb-2 lg:pb-0">
                <h2
                  class="mb-4 center text-3xl lg:text-4xl font-bold font-heading"
                >
                  <a
                    href="https://blockclubchicago.org/2022/08/09/does-public-housing-belong-to-the-public-humboldt-park-squatters-clash-with-developer-cha-over-long-empty-apartments/"
                    class="text-2xl font-semibold"
                    >Does Public Housing Belong To The Public? Humboldt Park
                    Protesters Clash With CHA Over Long-Empty Apartments
                  </a>
                </h2>
                <p class="mb-2 text-xl text-gray-600 dark:text-gray-400">
                  Mina Bloom, Block Club Chicago
                </p>
                <p class="mb-8 text-lg dark:text-gray-100">August 9, 2022</p>
              </div>
            </div>
            <div class="w-full lg:w-1/2 px-8">
              <a
                href="https://blockclubchicago.org/2022/08/09/does-public-housing-belong-to-the-public-humboldt-park-squatters-clash-with-developer-cha-over-long-empty-apartments/"
              >
                <img src="./src/assets/images/wilson.jpg" alt="Protest" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-6xl mx-auto px-2 sm:px-6">
      <div class="py-1 md:py-2 border-b lg:border-b-0">
        <div class="py-2 sm:py-3 lg:py-4">
          <div class="w-full flex flex-wrap -mx-8">
            <div class="w-full lg:w-1/2 px-8">
              <div class="mb-12 lg:mb-0 pb-2 lg:pb-0">
                <h2
                  class="mb-4 center text-3xl lg:text-4xl font-bold font-heading"
                >
                  <a
                    href="https://chicago.suntimes.com/2022/8/8/23293490/chicago-housing-authority-cha-owned-house-humboldt-park-protest-occupy"
                    class="text-2xl font-semibold"
                    >Protesters return to occupy CHA-owned house in Humboldt
                    Park
                  </a>
                </h2>
                <p class="mb-2 text-xl text-gray-600 dark:text-gray-400">
                  Michael Loria, Chicago Sun Times
                </p>
                <p class="mb-8 text-lg dark:text-gray-100">August 8, 2022</p>
              </div>
            </div>
            <div class="w-full lg:w-1/2 px-8">
              <a
                href="https://chicago.suntimes.com/2022/8/8/23293490/chicago-housing-authority-cha-owned-house-humboldt-park-protest-occupy"
              >
                <img src="./src/assets/images/suntimesaug.jpg" alt="cops" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-6xl mx-auto px-2 sm:px-6">
      <div class="py-1 md:py-2 border-b lg:border-b-0">
        <div class="py-2 sm:py-3 lg:py-4">
          <div class="w-full flex flex-wrap -mx-8">
            <div class="w-full lg:w-1/2 px-8">
              <div class="mb-12 lg:mb-0 pb-2 lg:pb-0">
                <h2
                  class="mb-4 center text-3xl lg:text-4xl font-bold font-heading"
                >
                  <a
                    href="https://www.chicagotribune.com/news/ct-cha-humboldt-park-residents-occupy-vacant-homes-20220806-ap344mvna5gnlhc7m5kvzwuzuu-story.html"
                    class="text-2xl font-semibold"
                    >Group wants CHA’s vacant public housing opened up to those facing homelessness
                  </a>
                </h2>
                <p class="mb-2 text-xl text-gray-600 dark:text-gray-400">
                  Shanzeh Ahmand and Rosemary Sobol, Chicago Tribune
                </p>
                <p class="mb-8 text-lg dark:text-gray-100">August 6, 2022</p>
              </div>
            </div>
            <div class="w-full lg:w-1/2 px-8">
              <a
                href="https://www.chicagotribune.com/news/ct-cha-humboldt-park-residents-occupy-vacant-homes-20220806-ap344mvna5gnlhc7m5kvzwuzuu-story.html"
              >
                <img src="./src/assets/images/tribuneaug.jpg" alt="group" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-6xl mx-auto px-2 sm:px-6">
      <div class="py-1 md:py-2 border-b lg:border-b-0">
        <div class="py-2 sm:py-3 lg:py-4">
          <div class="w-full flex flex-wrap -mx-8">
            <div class="w-full lg:w-1/2 px-8">
              <div class="mb-12 lg:mb-0 pb-2 lg:pb-0">
                <h2
                  class="mb-4 center text-3xl lg:text-4xl font-bold font-heading"
                >
                  <a
                    href="https://www.telemundochicago.com/fotosyvideos/protestan-contra-desalojo-de-personas-de-bajos-recursos-de-una-vivienda-en-humboldt-park/2282712/"
                    class="text-2xl font-semibold"
                    >Protestan contra desalojo de personas de bajos recursos de una vivienda en Humboldt Park
                  </a>
                </h2>
                <p class="mb-2 text-xl text-gray-600 dark:text-gray-400">
                  Video, Telemundo Chicago
                </p>
                <p class="mb-8 text-lg dark:text-gray-100">August 5, 2022</p>
              </div>
            </div>
            <div class="w-full lg:w-1/2 px-8">
              <a
                href="https://www.telemundochicago.com/fotosyvideos/protestan-contra-desalojo-de-personas-de-bajos-recursos-de-una-vivienda-en-humboldt-park/2282712/"
              >
                <img src="./src/assets/images/telemundo.jpg" alt="group" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-6xl mx-auto px-2 sm:px-6">
      <div class="py-1 md:py-2 border-b lg:border-b-0">
        <div class="py-2 sm:py-3 lg:py-4">
          <div class="w-full flex flex-wrap -mx-8">
            <div class="w-full lg:w-1/2 px-8">
              <div class="mb-12 lg:mb-0 pb-2 lg:pb-0">
                <h2
                  class="mb-4 center text-3xl lg:text-4xl font-bold font-heading"
                >
                  <a
                    href="https://www.fox32chicago.com/news/chicago-organization-claims-hispanic-housing-development-corporation-isnt-doing-enough-to-fix-up-vacant-homes?"
                    class="text-2xl font-semibold"
                    >Chicago organization claims Hispanic Housing Development Corporation isn't doing enough to fix up vacant homes
                  </a>
                </h2>
                <p class="mb-2 text-xl text-gray-600 dark:text-gray-400">
                  Video, Fox 32 Chicago
                </p>
                <p class="mb-8 text-lg dark:text-gray-100">August 5, 2022</p>
              </div>
            </div>
            <div class="w-full lg:w-1/2 px-8">
              <a
                href="https://www.fox32chicago.com/news/chicago-organization-claims-hispanic-housing-development-corporation-isnt-doing-enough-to-fix-up-vacant-homes?%5C"
              >
                <img src="./src/assets/images/fox32.jpg" alt="group" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</Layout>
