---
const {} = Astro.props;
---

<section class="relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div class="max-w-3xl mx-auto text-center pb-12">
        <h2
          class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
        >
          Get in touch!
        </h2>
        <p class="text-xl text-gray-600 dark:text-slate-400">
          <!-- We are a group of people in who do la de da in the la de da area of Chicago. Get in contact with us if you are experiencing la de da or if you would like to support our efforts. La de da. -->
        </p>
      </div>
    </div>
  </div>
</section>
